[submodule "docs/thesis/deep-learning-based-detection-systems-for-multi-object-tracking-in-lidar-data"]
	path = docs/thesis/deep-learning-based-detection-systems-for-multi-object-tracking-in-lidar-data
	url = https://gitlab.gwdg.de/lennart.hahner/deep-learning-based-detection-systems-for-multi-object-tracking-in-lidar-data.git
[submodule "third_party/mmdetection3d"]
	path = third_party/mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
[submodule "third_party/SimpleTrack"]
	path = third_party/SimpleTrack
	url = https://github.com/tusen-ai/SimpleTrack
[submodule "third_party/OpenPCDet"]
	path = third_party/OpenPCDet
	url = https://github.com/open-mmlab/OpenPCDet.git
[submodule "third_party/AB3DMOT"]
	path = third_party/AB3DMOT
	url = https://github.com/xinshuoweng/AB3DMOT.git
[submodule "third_party/Xinshuo_PyToolbox"]
	path = third_party/Xinshuo_PyToolbox
	url = https://github.com/xinshuoweng/Xinshuo_PyToolbox.git
