div[src$="#right"] {

    text-align:right;
  
  }
  
  div[src$="#left"] {
  
    text-align:left;
  
  }
  
  div[src$="#center"] {
  
    text-align:center;
  
  }
  
  .cm-line:has(+ .cm-embed-block.cm-table-widget) br {
    display: none;
  }

  /* reading mode */
.markdown-preview-view {
    font-family: 'CMU Serif Bold' !important;
  }
  
  /* source view and live preview */
  .markdown-source-view.mod-cm6 .cm-scroller {
      font-family: 'CMU Serif Bold' !important;
  }
  
  .cm-line:has(+ .cm-embed-block.cm-table-widget) br {
    display: none;
  }
  
  
  table{
      width: auto;
      display: table;
  }
  
